<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="#" class="navbar-brand">
        GuiaPress
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="/login" class="nav-link">Log in</a>
        </li>
        <li class="nav-item">
            <a href="/admin/users/new" class="nav-link">Sign up</a>
        </li>
        <li class="nav-item">
                    <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorias
                </button>
                <div class="dropdown-menu">

                    <% categories.forEach(category =>{ %>
                    <a href="/articles/page/1?category=<%= category.slug %>" class="dropdown-item"><%= category.title %></a>
                    <% }) %>

                </div>
            </div>
        </li>



        <li>

        </li>



    </ul>

</nav>